body {
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
}

h3 {
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

a {
	text-decoration: none;
	color: #4183c4;
}

div {
	display: block;
}

.column {
	box-sizing: border-box;
	float: left;
	padding: 15px
}

.header {
	padding: 15px 0;
	min-width: 1000px;
}

.header-container {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

.header-github {
	font-size: 32px;
	font-weight: bold;
	display: inline-block;
	line-height: 1px;
	text-decoration: none;
	color: #000;
}

.command-bar-form {
	min-width: 220px;
	min-height: 28px;
	display: inline-block;
}

.commandbar {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 12px;
	padding: 4px 20px 8px 8px;
	margin-left: 16px;
	margin-top: 3px;
}

.header-container a {
	text-decoration: none;
	color: #000;
}

.navigation {
	list-style: none;
	display: inline-block;
	margin-left: 211px;
	min-width: 240px;
}

.navigation-item {
	display: inline-block;
	padding-left: 10px;
	color: #333;
	vertical-align: middle;
	font-weight: bold;
}

.button {
	position: relative;
	display: inline-block;
	color: #333;
	font-weight: bold;
	padding: 7px 15px;
	background-image: linear-gradient(#fafafa, #eaeaea);
	border-radius: 3px;
	border: 1px solid #ddd;
	vertical-align: middle;
	margin-left: 20px;
}

.marketing-section {
	background: #202021 url("image/octicons-bg.png") center repeat;
	position: relative;
	display: block;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
}

.container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

.heading {
	margin-top: 0;
	padding-top: 70px;
	font-size: 70px;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	letter-spacing: -1px;
}

.subheading {
	margin: 10px 0 0;
	font-size: 21px;
	line-height: 1.5;
	color: #fff;
	padding-bottom: 70px;
}

.marketing-section a {
	color: #4183c4;
	text-decoration: none;
	font-weight: 500;
}

.form-signup {
	float: right;
	width: 320px;
	margin-left: 40px;
	margin-right: 155px;
	padding-top: 20px;
}

.textfield {
	font: 15px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
	color: #333333;
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 0;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	width: 100%;
	min-height: 34px;
}

.textfield2 {
	font: 15px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
	color: #333333;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	width: 100%;
	min-height: 34px;
}

.text-muted {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #999;
	line-height: 1.4;
}

.signup-button {
	color: #fff;
	background-image: linear-gradient(#79d858, #569e3d);
	padding: 11px 0px;
	font-size: 16px;
	border-radius: 3px;
	display: block;
	min-width: 108%;
	text-align: center;
	font-weight: bold;
	border: 0px #4a993e;
	position: relative;
	margin-top: 10px;
}

.benefits {
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #e5e5e5;
}

.benefits-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
	margin-bottom: 40px;
	text-align: center;
}

.benefits-header h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 42px;
	font-weight: normal;
	line-height: 1.1;
}

.benefits-header p {
	margin-top: 0;
	margin-bottom: 0;
	color: #777;
	font-size: 20px;
	font-weight: 300;
}

.rows {
	margin-left: -15px;
	margin-right: -15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.one-third {
	width: 33%;
}

.benefits .column {
	text-align: center;
}

.benefits .icon {
	width: 100px;
	height: 100px;
	margin: 0 auto 15px;
	color: #4183c4;
	text-align: center;
	border: 1px solid #e5e5e5;
	border-radius: 50px;
}

.checklist-image {
	margin-left: 6px;
	font-size: 48px;
	line-height: 100px;
	font: normal normal 32px octicons;
	color: #4183c4;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	content: '\f076';
	display: inline-block;
}

.benefits .column h3 {
	margin: 0 0 9px;
	font-size: 21px;
	font-weight: normal;
	line-height: 1.1;
	color: #2a2a2a;
}

.benefits .column p {
	margin: 0;
	font-size: 14px;
	color: #5a5a5a;

}